-
    //var bootswatchVersion = semver.coerce(config.files.bootswatch4.version);
    var bootstrap = config.files.bootstrap.find(file => semver.satisfies(file.version, `^5`, { includePrerelease: true }));
    var bootstrapJsBundleSri = bootstrap.javascriptBundleSri;
    var clipboardjs = config.app.javascript.find(file => file.name === 'clipboardjs');
    var clipboardjsUri = getVersionedPath(clipboardjs.uri);
    var clipboardjsSri = helpers.getSri(clipboardjs.uri);
    var mainJs = config.app.javascript.find(file => file.name === 'main');
    var mainJsUri = getVersionedPath(mainJs.uri);
    var mainJsSri = helpers.getSri(mainJs.uri);

| var bootstrapUri = '#{bootstrap.javascriptBundle}';
| var mainJsUri = '#{mainJsUri}';
| var clipboardjsUri = '#{clipboardjsUri}';
|
| loadjs([bootstrapUri, clipboardjsUri, mainJsUri], 'main', {
|    before: function(path, el) {
|        switch (path) {
|        case bootstrapUri:
|            el.integrity = '#{bootstrapJsBundleSri}';
|            break;
|        case clipboardjsUri:
|            el.integrity = '#{clipboardjsSri}';
|            break;
|        case mainJsUri:
|            el.integrity = '#{mainJsSri}';
|            break;
|        }
|        el.crossOrigin = 'anonymous';
|     },
|     async: false
| });
